.icons-section {
  padding: 0 0 3rem 0;

  .inner-warpper {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: auto;
    padding: 5rem 0;

    @media only screen and (max-width: 600px) {
      display: block;
      padding: 2rem 0;
    }
  }

  .icon-box {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.333%;

    @media only screen and (max-width: 600px) {
      width: 100%;
      padding-bottom: 3rem;
    }

    .icon-wrapper {
      display: flex;
      justify-content: center;
      box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
      border-radius: 50%;
      width: 200px;
      height: 200px;
      min-height: 200px;
      margin: 0 auto 1rem auto;
      transition: transform 0.3s ease-in-out;

      img {
        width: 78px;
        min-height: 85px;
        height: auto;
      }

      &:hover {
        transform: scale(1.5);
      }
    }

    .advance-protection-content {
      .title {
        color: #0e0066;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 47px;
      }

      .text {
        color: #4a4a4a;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 23px;
        min-height: 50px;
      }
    }

    &:nth-child(1) {
      .icon-wrapper {
        background: linear-gradient(89.39deg, #f0f 0.53%, #6455ff 99.49%);
      }

      .button {
        border: none;
        background: #0ff;
        color: #0b0058;
      }
    }

    &:nth-child(2) {
      .icon-wrapper {
        background: linear-gradient(89.39deg, #0ff 0.53%, #6455ff 99.49%);
      }

      .button {
        border: none;
        background-color: #6455ff;
        color: #fff;
      }
    }

    &:nth-child(3) {
      .icon-wrapper {
        background: linear-gradient(89.39deg, #0e0066 0.53%, #6455ff 99.49%);
      }

      .button {
        border: none;
        background-color: #f0f;
        color: #fff;
      }
    }
  }
}

#submit-btn {
  font-weight: 700;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;

  &:hover {
    background: linear-gradient(89.39deg, #f0f 0.53%, #6455ff 99.49%);
  }
}
