.main-section {
  .columns {
    background-color: #f5f5f5;
    padding: 3rem 0;

    @media only screen and (max-width: 600px) {
      font-size: 3rem 4%;
    }

    .inner-wrapper {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;

      @media only screen and (max-width: 600px) {
        flex-direction: column-reverse;
      }

      .img-wrapper {
        width: 100%;
        max-width: 100%;
        min-height: auto;
        border-radius: 10px;

        @media only screen and (max-width: 600px) {
          margin-top: 3rem;
        }

        img {
          max-width: 463px;
          min-height: auto;
          border-radius: 10px;
          display: block;
          cursor: zoom-out;

          @media only screen and (max-width: 600px) {
            max-width: 85%;
            margin: auto;
          }
        }

        &.zoom {
          display: inline-block;
          position: relative;

          &::after {
            content: "";
            display: block;
            width: 33px;
            height: 33px;
            position: absolute;
            top: 0;
            right: 0;
          }
        }
      }

      .advance-protection-content {
        padding: 0 2rem;

        .title {
          color: 0e0066;
          font-size: 40px;
          font-style: normal;
          font-weight: 400;
          line-height: 47px;

          @media only screen and (max-width: 600px) {
            font-size: 33px;
          }
        }

        .text {
          color: #4a4a4a;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 19px;

          @media only screen and (max-width: 600px) {
            margin-bottom: 3rem;
            font-size: 18px;
          }
        }

        .loop-link {
          color: #6455ff;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 19px;
          text-decoration: underline;

          &:hover {
            color: #000;
          }
        }
      }
    }

    &:last-child {
      background: linear-gradient(135deg, #0ff 0%, #6455ff 100%);

      .inner-wrapper {
        display: flex;
        align-items: center;
        flex-direction: row;

        @media only screen and (max-width: 600px) {
          flex-direction: column-reverse;
        }

        .img-wrapper {
          img {
            cursor: pointer;
          }
        }

        .advance-protection-content {
          .title,
          .text {
            color: #fff;
          }

          .loop-link {
            color: #fff;

            &:hover {
              color: #000;
            }
          }
        }
      }
    }

    .loop-wrapper {
      width: 70%;
      margin: auto;

      @media only screen and (max-width: 600px) {
        width: 100%;
      }
    }
  }
}
