.main-section .columns {
  background-color: #f5f5f5;
  padding: 3rem 0;
}

@media only screen and (max-width: 600px) {
  .main-section .columns {
    font-size: 3rem 4%;
  }
}

.main-section .columns .inner-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

@media only screen and (max-width: 600px) {
  .main-section .columns .inner-wrapper {
    flex-direction: column-reverse;
  }
}

.main-section .columns .inner-wrapper .img-wrapper {
  width: 100%;
  max-width: 100%;
  min-height: auto;
}

@media only screen and (max-width: 600px) {
  .main-section .columns .inner-wrapper .img-wrapper {
    margin-top: 3rem;
  }
}

.main-section .columns .inner-wrapper .img-wrapper img {
  max-width: 463px;
  min-height: auto;
  border-radius: 10px;
  display: block;
}

@media only screen and (max-width: 600px) {
  .main-section .columns .inner-wrapper .img-wrapper img {
    max-width: 85%;
    margin: auto;
  }
}

.main-section .columns .inner-wrapper .img-wrapper.zoom {
  display: inline-block;
  position: relative;
}

.main-section .columns .inner-wrapper .img-wrapper.zoom::after {
  content: "";
  display: block;
  width: 33px;
  height: 33px;
  position: absolute;
  top: 0;
  right: 0;
}

.main-section .columns .inner-wrapper .advance-protection-content {
  padding: 0 2rem;
}

.main-section .columns .inner-wrapper .advance-protection-content .title {
  color: 0e0066;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 47px;
}

@media only screen and (max-width: 600px) {
  .main-section .columns .inner-wrapper .advance-protection-content .title {
    font-size: 33px;
  }
}

.main-section .columns .inner-wrapper .advance-protection-content .text {
  color: #4a4a4a;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
}

@media only screen and (max-width: 600px) {
  .main-section .columns .inner-wrapper .advance-protection-content .text {
    margin-bottom: 3rem;
    font-size: 18px;
  }
}

.main-section .columns .inner-wrapper .advance-protection-content .loop-link {
  color: #6455ff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
  text-decoration: underline;
}

.main-section .columns .inner-wrapper .advance-protection-content .loop-link:hover {
  color: #000;
}

.main-section .columns:last-child {
  background: linear-gradient(135deg, #0ff 0%, #6455ff 100%);
}

.main-section .columns:last-child .inner-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
}

@media only screen and (max-width: 600px) {
  .main-section .columns:last-child .inner-wrapper {
    flex-direction: column-reverse;
  }
}

.main-section .columns:last-child .inner-wrapper .advance-protection-content .title,
.main-section .columns:last-child .inner-wrapper .advance-protection-content .text {
  color: #fff;
}

.main-section .columns:last-child .inner-wrapper .advance-protection-content .loop-link {
  color: #fff;
}

.main-section .columns:last-child .inner-wrapper .advance-protection-content .loop-link:hover {
  color: #000;
}

.main-section .columns .loop-wrapper {
  width: 70%;
  margin: auto;
}

@media only screen and (max-width: 600px) {
  .main-section .columns .loop-wrapper {
    width: 100%;
  }
}
