.main-section {
  .columns {
    background-color: #f5f5f5;
    padding: 3rem 0;

    @media only screen and (max-width: 600px) {
      font-size: 3rem 4%;
    }

    .inner-wrapper {
      @include flex_row_reverse;

      @media only screen and (max-width: 600px) {
        flex-direction: column-reverse;
      }

      .img-wrapper {
        width: 100%;
        max-width: 100%;
        min-height: auto;
        border-radius: 10px;

        @media only screen and (max-width: 600px) {
          margin-top: 3rem;
        }

        img {
          max-width: 463px;
          min-height: auto;
          border-radius: 10px;
          display: block;
          cursor: zoom-out;

          @media only screen and (max-width: 1024px) {
            max-width: 100%;
          }

          @media only screen and (max-width: 768px) {
            width: 100%;
          }

          @media only screen and (max-width: 600px) {
            max-width: 85%;
            margin: auto;
          }
        }
      }

      .advance-protection-content {
        padding: 0 2rem;

        .title {
          @include main_section_title;

          @media only screen and (max-width: 600px) {
            font-size: 33px;
          }
        }

        .text {
          @include main_section_text;

          @media only screen and (max-width: 600px) {
            margin-bottom: 3rem;
            font-size: 18px;
          }
        }

        .loop-link {
          color: #6455ff;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 19px;
          text-decoration: underline;

          &:hover {
            color: #000;
          }
        }
      }
    }

    &:last-child {
      background: linear-gradient(135deg, #0ff 0%, #6455ff 100%);

      .inner-wrapper {
        @include flex_center_row;

        @media only screen and (max-width: 600px) {
          flex-direction: column-reverse;
        }

        .img-wrapper {
          img {
            cursor: pointer;

            @media only screen and (max-width: 1024px) {
              max-width: 100%;
            }

            @media only screen and (max-width: 768px) {
              width: 100%;
            }
          }
        }

        .advance-protection-content {
          .title,
          .text {
            color: #fff;
          }

          .loop-link {
            color: #fff;

            &:hover {
              color: #000;
            }
          }
        }
      }
    }

    .loop-wrapper {
      width: 70%;
      margin: auto;

      @media only screen and (max-width: 1024px) {
        width: 90%;
      }

      @media only screen and (max-width: 600px) {
        width: 100%;
      }
    }
  }
}
