.top-section-wrapper {
  width: 100%;

  @media only screen and (max-width: 600px) {
    background: linear-gradient(89.39deg, #000024 0.53%, #0f006b 53.96%, #0e0066 99.49%);
    padding: 0 0 3rem;
  }

  .hero-image {
    @include hero_image;

    @media only screen and (max-width: 600px) {
      background-image: none !important;
    }
  }

  .hero-image-mb {
    display: none;

    @media only screen and (max-width: 600px) {
      @include hero_image_mobile;
    }
  }

  .section-content {
    width: 70%;
    margin: auto;
    padding: 5rem 0;

    .main-title {
      @include main_title;

      @media only screen and (max-width: 600px) {
        width: 100%;
        text-align: center;
        font-size: 57px;
      }
    }

    .sub-title {
      @include sub_title;

      @media only screen and (max-width: 600px) {
        width: 100%;
        text-align: center;
        font-size: 20px;
        line-height: 23px;
      }
    }

    .read-contact-btn-wrapper {
      @include flex_content_start_center;

      @media only screen and (max-width: 600px) {
        display: block;
      }

      .contact-btn-wrap {
        margin-right: 2rem;

        @media only screen and (max-width: 600px) {
          text-align: center;
          margin: 0 0 1rem 0;
        }

        a.contact-link {
          @media only screen and (max-width: 600px) {
            text-align: center;
          }

          .contact-btn {
            @include contact_us_button;

            @media only screen and (max-width: 600px) {
              font-size: 18px;
            }

            &:hover {
              color: #fff;
            }
          }
        }
      }

      .read-more-wrap {
        @media only screen and (max-width: 600px) {
          text-align: center;
        }

        .read-more-link {
          @include read_more_link;

          @media only screen and (max-width: 600px) {
            font-size: 18px;
          }

          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
}
